<!DOCTYPE html>
<html>
  <head>
    <title>Kasey</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'kasey' %>
    <%= stylesheet_pack_tag 'kasey-fonts' %>
    <%= javascript_pack_tag 'kasey', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
      <header>
      </header>
      <nav class="nav justify-content-end">
        <!-- active and disabled are also possible classes -->
        <% if authenticated_user.present? %>
          <%= link_to "kases", kases_path, class: 'nav-link' %>
          <%= link_to "Sign Out", '#', class: 'nav-link' %>
        <% else %>
          <%= link_to "Sign In", "#", class: 'nav-link' %>
        <% end %>
      </nav>

    <div class="container">
      <% if flash.alert %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <%= flash.alert %>

          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
      <% if flash.notice %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <%= flash.notice %>

          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
      <section class="billboard">
        <%= yield %>
      </section>
    </div>
      <footer>
      <section class='container'>
      <p class='copyright'>Made With Love :: &copy; 2020</p>
      <p><a href="#">Contact Us</a></p>
       <%= image_pack_tag  "media/packs/images/logotext-footer.png" %>
      </section>

      </footer>

  </body>
</html>
