<div class="card mb-3">
  <div class="card-header">
      from: <%= @kase.intake.email %> on: <%= @kase.intake.created_at %>
  </div>
  <div class="card-body">
    <p>original message:</p>

    <%= @kase.intake.email %>

    <hr/>

    <%= button_to 'close', kase_path(@kase), method: :delete, class: 'btn btn-primary card-link' %>
  </div>
</div>


<div class="card mb-3">
  <div class="card-header">
    Add a Message
  </div>
  <div class="card-body">
    <%= form_with(model: @kase.messages.new, url: kase_messages_path(@kase)) do |form| %>
      <div class="field">
        <%= form.rich_text_area :body %>
      </div>
      <div class="field">
        <button type="submit" class="btn btn-success" name="admin_message[direction]", value="out">
          Send To Client
        </button>
        <button type="submit" class="btn btn-success" name="admin_message[direction]", value="internal">
          Save Internal Note
        </button>
      </div>
    <% end %>
  </div>
</div>

<%= render @kase.messages %>
